<% provide(:title, 'About') %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3>About</h3></div>
	<div class="panel-body">
		<h1>MavenCC</h1>
		<h2>A call centre system with complete inbound, outbound and blended operation</h2>
		<p>MavenCC<br>Copyright 2014 Maven Network Limited All rights reserved.<br>MavenCC contains code from the following open source projects <%= link_to "Asterisk", "http://www.asterisk.org" %>, <%= link_to "ViciDial","http://www.vicidial.org/vicidial.php" %>, <%= link_to "MariaDB", "http://www.mariadb.org" %> and <%= link_to "Linux", "http://www.kernel.org" %></p>
	</div>
	</div>
	</div>
