<% provide(:title, 'Home') %>
<div class="container">
	<div class="jumbotron">
		<h1>Maven CC</h1>
		<p>Select from the menu on the left to navigate to a section of the system</p>
		<p><%= link_to "Site Information", site_path %></p>
	</div>
</div>
