<%= render 'script_header' %>
<div class="panel panel-default">
<div class="panel-heading"><h3><%= "#{@script.script_id} - #{@script.script_name}" %></h3></div>
<div class="panel-body">
	<%= render 'form' %>
	</div>
	</div>
	</div>
	</div>
</div>
