<!-- Add Status Modal -->
<div class="modal fade" id="advDiallerModal" tabindex="-1" role="dialog" aria-labelledby="advDialler" aria-hidden="true">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="advDialler">Add Dial Status</h4>
      </div>
      <div class="modal-body">
      Advanced Dialler Settings
      </div>
      <div class="modal-footer">
      	<%= link_to "Cancel", "#", class: "btn btn-default btn-block", :data => {:dismiss => "modal"} %>
      </div>
      </div>
     </div>
    </div>
   </div>
