<%= render 'filter_header' %>
<div class="panel panel-default">
<div class="panel-heading"><h3><%= "#{@filter.lead_filter_id} - #{@filter.lead_filter_name}" %></h3></div>
<div class="panel-body">
	<%= render 'form' %>
	</div>
	</div>
	</div>
	</div>
</div>
