<footer class="footer">
  <small>
    <a href="http://www.mavennetwork.co.uk/">Maven Network Limited 2014</a>
  </small>
  <nav>
    <ul>
      <li><a href="mailto:support@mavennetwork.co.uk">Support</a></li>
    </ul>
  </nav>
</footer>
